* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body 
{
  background-color: #f4f4f4;
  color: #333;
}


header 
{
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 40px 0;
}

section 
{
  background: white;
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  border-radius: 8px;
}


.skills ul 
{
  list-style-type: square;
  margin-left: 20px;
}


.project-card
 {
  background:white;
  padding: 15px;
  margin: 10px 0;
  border-left: 5px solid #4CAF50;
}

footer 
{
  text-align: center;
  padding: 10px;
  background: #333;
  color: white;
}

.profile-img
 {
  width: 150px;
  height: 150px;
  border-radius: 50%;   
  object-fit: cover;
  margin-bottom: 15px;
  border: 4px solid white;
  box-shadow: o 4px 10px rgba(0,0,0,0.2);
}


